
#clothing-linebreak {
    background-color: black;
}

#clothing-navbar {
    background-color: black;
}

#clothing {
    animation-name: slideOut;
    animation-duration: 1s;

} @keyframes slideOut {

    100% {
    left: 15%;
    }

    0% {
        left: 200%;
    }
}