#plant-div {
    width: 20%;
}

#clothing-image {
    width: 15%;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#clothing-card-div{
    width: 60%;
    height: 76%;
    position: absolute;
    background-color: white;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    left: 20%;
    top: 10%;
}

#clothing-image-div{
 width: 45%;
 height: 75%;
 /* border-width: 2px;
 border-style: solid;
 border-radius: 20px; */
 position: absolute
 
}

#name{
    position: absolute;
    right: 10%;
    top: 5%
}

#price{
    position: absolute;
    right: 10%;
    top: 15%
}

#collection{
    position: absolute;
    right: 10%;
    top: 25%
}

#add-to-cart{
    position: absolute;
    right: 15%;
    top: 45%
}