#plant-hub {
    width: 80%;
    height: 80%;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1px;
    /* border-width: 1px; */
    /* border-style: solid; */
    left: 10%;
    top: 10%;
    justify-content: center;
}