
#welcome {
    background-color: white;
    width: 22%;
    height: 22%;
    position: relative;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    left: 39%;
    top: 39%;
}

#enter {
    margin-top: 2%;
    font-size: medium;
}
