#down-div{
    position: absolute;
    width: 10%;
    height: 10%;
    text-align: center;

    left: 45%;
    top: 90%;

    background-color: black;
}

#down-button {
   margin-top: 20%
}

.true {
    visibility: visible;
}

.false {
    visibility: hidden;
}