.nav-button {
    font-family: "CoreCircus", sans-serif;
    position: absolute;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    border: solid;
    z-index: 3;
    top: 7%;
    height: 70%;
    background-color: rgb(245, 245, 245);
    font-size: large;
}

.nav-button:hover {
    opacity: 85%;
}

#clothing-B1 {
    left: 61%;
}

#clothing-B2 {
    left: 78%;
}

#clothing-B3 {
   left: 90%;
}

#nft-B1 {
    left: 71%;
    border-color: brown;
}

#nft-B2 {
    left: 88%;
    border-color: brown;
}

#plant-B1 {
    left: 61%;
    border-color: lightpink;
}

#plant-B2 {
    left: 78%;
    border-color: lightpink;
}

#plant-B3 {
   left: 90%;
   border-color: lightpink;
}

.dropdown-button:hover {
    color: rgb(150, 148, 148);
    box-shadow: inset;
}