.nav-button {
    font-family: "CoreCircus", sans-serif;
    position: absolute;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    border: solid;
    z-index: 3;
    top: 7%;
    height: 70%;
    background-color: rgb(244, 245, 245);
    font-size: large;
}

.nav-button:hover {
    opacity: 85%;
}

#collection {
    left: 52%;
}

#filter {
    left: 73%;
}

#sort {
   left: 86%;
}

.dropdown-button:hover {
    color: rgb(150, 148, 148);
    box-shadow: inset;
}