#right-div{
    position: absolute;
    width: 10%;
    height: 10%;
    text-align: center;

    left: 90%;
    top: 45%;

    background-color: black;
}

#right-button{
    margin-top: 20%
}

.true{
    visibility: visible;
}

.false{
    visibility: hidden;
}