#up-div {
    position: absolute;
    width: 10%;
    height: 10%;
    text-align: center;

    left: 45%;
    top: 0%;

    background-color: black;
}

#up-button {
    margin-top: 20%
}

.true {
    visibility: visible;
}

.false {
    visibility: hidden;
}