#up-div {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;

    border-radius: 50px;
    line-height: 100px;

    left: 45%;
    top: 0%;

    cursor: pointer;

    background-color: black;
    color: white;
}

#up-button {
    margin-top: 20%
}

.true {
    visibility: visible;
}

.false {
    visibility: hidden;
}

